.UserOutput{
    width: 60%;
    padding: 16px;
    
    border: 2px solid black;
    text-align: center;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    margin: 45px auto;
}